.kt-user-card {
    background:$primary-color  !important;
    background-color:transparent !important;
    }
    .kt-header__topbar-wrapper{
        .kt-header__topbar-username{
        color:$primary-color !important;
        font-weight: 600 !important;
        }
    }
.kt-notification .kt-notification__custom{
    padding:0px;
    a{
        width:100%;
        border-radius:0px !important;
    }
}
