@import "../theme/css/plugins.bundle.css";
@import "../theme/css/prismjs.bundle.css";
@import "../theme/css/style.bundle.css";
@import "../theme/fonts/Almarai/Almarai.css";
@import '~handy.sass.mixins/scss/shared.scss' ;
@import "_variables.scss";

@import './components/header-menu.scss';
@import './components/header-user.scss';

.kt-widget__pic.kt-widget__pic--brand {background: rgba(93, 120, 255, 0.1); }
.kt-widget__pic.kt-widget__pic--light {background: rgba(255, 255, 255, 0.1); }
.kt-widget__pic.kt-widget__pic--dark {background: rgba(40, 42, 60, 0.1); }
.kt-widget__pic.kt-widget__pic--primary {background: rgba(88, 103, 221, 0.1); }
.kt-widget__pic.kt-widget__pic--success {background: rgba(10, 187, 135, 0.1); }
.kt-widget__pic.kt-widget__pic--info {background: rgba(85, 120, 235, 0.1); }
.kt-widget__pic.kt-widget__pic--warning {background: rgba(255, 184, 34, 0.1); }
.kt-widget__pic.kt-widget__pic--danger {background: rgba(253, 57, 122, 0.1); }


html, body {
    height: 100%;
}
.kt-avatar .kt-avatar__holder .kt-widget__pic{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(253, 57, 122, 0.1);
}
.kt-avatar.kt-avatar--changed .kt-avatar__holder .kt-widget__pic{
    display:none;
}
.kt-avatar .kt-avatar__holder {
    width: 200px;
    height: 200px;
}
#AsidePhoto{
    width:90px!important;
    height:90px!important;
}
.kt-avatar__load{
    margin:10px 0 0 0;
}
.img-container img {
    max-width: 100%;
}
.kt-spinner.kt-spinner--select:before {
    z-index: 100;
    right: 6px!important;
    top: 17px;
}
.schedule-table  thead th {
    text-align:center;
}
.schedule-table td a{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition:all 0.4s ease-in-out;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;

}
.schedule-table td a:hover{

    box-shadow: 0 10px 20px 0 rgba(255,255,255, 0.55);
    background-color:#3490dc;
    color:#fff !important;
    border-color:#fff !important;
}
.first-head {
    text-align: center;
    padding: 0% 0%;
    border: 3px solid #fff !important;
    background-color: #4b7aa7;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 700 !important;
}
.table td, .table th {
    font-size: 15px;
    padding: 0.45rem  !important;
    font-weight: 500;
    text-align: center;
}
div{
    white-space: nowrap;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    text-align: center;
    border-spacing: 0;
    border:1px solid #fff;
    table-layout: auto !important;
    word-wrap: normal;
}
table th,
table td {
    text-align: right;
}
table th {
    font-size: 16px;
    padding: 10px 0px;
    font-family: frankgo;
    /*color: #5D6975;*/
    letter-spacing: 1px;
    font-weight: 500;
    white-space: nowrap;
    background-color: #d9dbe8;
    text-align: center;
    /* font-weight: normal; */
    color: #000;
    border: 3px solid #fff;
}
tr{
    width: 100%;
}
.info {
    border: none;
    text-align: center;
    border: 3px solid #fff;
    height: 20px;
    background-color: #fff;
    margin: 0px;
}
.td-time {
    color: #ffffff;
    padding: 10px 0% !important;
    text-align: center;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: frankgo;
}
.td-back{
    background: #f2f2f2;
}
.td-week{
    /*background: #6c87b8;*/
    color: #fff;
}
.icon-signatured{
    float:right;
    padding:3px 10px 0 0;
    margin:0 0 0 -10px;
}
.ce-block__content{
    max-width:100%;
}
.ce-toolbar__content{
    max-width:100%;
}
.codex-editor__redactor{
    /*padding:0!important;*/
}
.ce-toolbar__content {
    display: none;
}
.kt-timeline-v2:before{
    left:7.3rem;
}

body{
    font-family: 'Almarai', sans-serif;
    margin:0px;
    font-weight: 300;
    box-sizing: border-box !important;
    overflow-x: hidden;

}

.kt-header .kt-header__top {
    background-color: #FFFFFF;
    color: $primary-color;
}
*[data-toggle="copyable"]{cursor:pointer!important;}
span.select2{
    width: 100%!important;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple, .select2-container--default.select2-container--disabled .select2-selection--single {
    background: #fff !important;;
}
.kt-portlet__head-title .select2-selection__rendered{
    padding:4px 4px 4px 10px!important;
    font-size: 15px!important;
    font-weight: 400!important;
}
.kt-portlet .kt-portlet {
    box-shadow: 0 0 20px 0 rgba(82,63,105,0.15);
}
.kt-portlet .kt-portlet:last-child {
    margin-bottom: 0;
}
h6{
    font-size: 16px;
}

.form-group {
    label{
        font-size: 1rem;
        font-weight: 400;
        color: rgba($primary-color,0.7);
    }
}


.localized-card{
    @include text-align();
}

.select2-container--default .select2-selection--single .select2-selection__arrow:after, .select2-container--default .select2-selection--multiple .select2-selection__arrow:after{
    content:"";
}

.kt-footer {

    .kt-footer__bottom {
        background-color:$primary-color !important;
        .kt-footer__wrapper {
            justify-content: center !important;
            .kt-footer__copyright{
                a{
                    color:#fff;
                    font-weight:bolder;
                }
            }
        }
    }
}
.required{
    color:$danger-color;
}
.form-group {
    @include text-align();

    label{
        @include text-align();
    }
    input{
        @include text-align();
    }

    .radio-inline .radio span , .checkbox-inline .checkbox span{
        @include margin-right(0.75rem);
    }


}
.card-header {
    @include text-align();
}

.has-two-lines{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:15px;
    padding-left:15px;
    span{
        margin:15px;
        font-size:22px;
    }
 &:before , &:after{
    content:'';
    height:1px;
    width:90%;
    background-color: rgba($secondary-color,0.2);
    display: block;
    border-radius: 3px;
    padding-right:15px;
    padding-left:15px;
 }

}
@media(max-width:990px){
    #kt_header_menu{
        width: 100%;
    }
    .kt-menu__nav{
        width: 100%;

        .kt-menu__nav{
            width: 100%;
        }
    }

    .kt-header .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text{
        color:$secondary-color !important;
    }
    .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__heading, .kt-header-menu-mobile .kt-menu__nav > .kt-menu__item.kt-menu__item--open > .kt-menu__link{
        background-color: transparent !important;
    }
}
.statsitcs-container{
    div:nth-child(2) {
    }
}
@media(max-width:1024px){
    #kt_content{
        margin-top:30px !important;
        margin-right:0px;
    }
    .statsitcs-second-item{
        margin-top:30px;
    }
}
.dataTables_wrapper{
    & > .row {
        & > div:first-child{
            text-align: right;
        }
    }
}
.dataTables_paginate{
    margin-bottom:30px;
    & > .pagination{
        flex-direction: row-reverse;
    }
}
.kt-header--fixed.kt-header--minimize{
    .kt-header__brand-nav{
        width: 60px !important;
     }
}

.kt-header--fixed.kt-header--minimize .kt-header .kt-header__top{
    height: 80px;
}
.select2-selection.select2-selection--single{
    background-color: #fff;
    border-color: #3F4254;
    color: #3F4254;
    height: 40px;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
}
div{
    white-space:unset;
}
label{
    text-align: right;
}
.attributes_list{
    list-style: none;
     & > li {
         border-bottom:1px solid rgba($secondary-color,0.1);
         padding:10px;
         margin-bottom:5px;
     }
}
.dataTables_wrapper .dataTable tfoot th, .dataTables_wrapper .dataTable thead th{
    font-weight: 700;
    font-size:16px;
    letter-spacing:0px;
    .icon{
        font-size:12px;
    }
}

.btn{
    font-size:16px;
    padding:0.65rem 2rem;
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label{
    margin:0px;
}
@media(max-width:990px){
    .login.login-2 .login-form {
        max-width: 100%;

    }
}
.option{
    flex-direction: row-reverse;
    .option-head{
        text-align: right;
        flex-direction: row-reverse;
        margin-right:10px;
    }

}
.form-group {
    label{
        direction:rtl;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
  }
  .option{
      border:1px solid #666;
  }
.option.bold{
    border:1px solid #333;

}
input[name=email], input[name=password], input[name=password_confirmation],input[name=name]{
    text-align: left !important;
    writing-mode: sideways-lr !important;
    direction: ltr !important;
}
.zoom {

    transition: transform .2s; /* Animation */

  }

  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }



  .iti{
      display:block !important;
  }

  #kt_body{
    // min-height: -webkit-calc(100% - 72px);
    // min-height: -webkit-calc(100% - 72px);
    // min-height: -moz-calc(100% - 72px);
    // min-height: calc(100% - 72px);
    min-height: 100%;
  }
  .input-group-prepend .select2-container--default .select2-selection--single,
  .input-group-prepend  .select2-container--default .select2-selection--multiple{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  }
.input-group-prepend .input-group-text {
    border-top-right-radius: 0px;;
    border-bottom-right-radius: 0px;
    border-color:#3F4254;
}
.form-control{
    border:1px solid #3F4254 !important;
}
.system-color {
   color: $light-blue !important;
}
.btn.btn-primary , .btn.btn-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-primary:focus:not(.btn-text), .btn.btn-primary.focus:not(.btn-text){
    color: #ffffff;
    background-color: #131628;
    border-color: #131628;
}
.option .option-label .option-body{
    color:#444;
}
.radio.radio-outline > span{
    border-color:#666;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border :1px solid #3F4254;

}
.input-group-prepend .select2-container--default .select2-selection--single , .input-group-prepend .select2-container--default .select2-selection--multiple
{
    border-left:0px;
}
.radio>span {
    background-color: #fff;

}
.radio.radio-success > span{
    border:1px solid #3F4254;
}
.checkbox > span{
    border:1px solid #3F4254;
    background-color: #fff;
}
.iti__country-list{
    text-align:right;
    left: 0px;
}
.iti__country.iti__standard{
    text-align: right;
}
.iti__flag-box{
    margin-left:6px;
    margin-right:unset;
}
.iti__arrow {
    margin-right: 6px;
}
